<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/include/template.xhtml">

	<ui:define name="conteudo">
			
		<h4> Novo material - <h:outputText value="#{usuarioMBean.usuarioLogado.login}" /> </h4>
		
		<h:messages />
		<h:form>
			<fieldset>
				<p> Código </p> <p> <h:inputText value="#{materialMBean.material.codigo}" required="true"
					requiredMessage="Código obrigatório"/>
				</p>
				<p> Descrição </p> <p> <h:inputText value="#{materialMBean.material.descricao}"/> </p>
				<p> Data de aquisição </p> 
					 <p>
					 <h:inputText value="#{materialMBean.material.dataAquisicao}" id="data">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:inputText>
					 </p>
				<p> 
					<h:commandButton action="#{materialMBean.cadastrarMaterial}" value="Cadastrar"/>
					<h:commandButton action="#{materialMBean.listarMateriais}" value="Listagem" immediate="true"/> 
				</p>
			</fieldset>
		</h:form>
	</ui:define>
</ui:composition>